.salida {
    width: 50%;
    height: 30vh;
    border: 1px solid #000;
    margin: 1em;
    padding-top: 1em;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}